@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url('../public/food2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(246, 246, 243);
  line-height: 1rem;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 15%;
  padding: 10px;
}

.signin-container {
  background-color: lightblue;
  padding: 5px;
  float: left;
}
.navText{
 padding: 20px
}

.text-light {
  background: rgb(120,238,240);
  background: radial-gradient(circle, rgba(120,238,240,1) 0%, rgba(3,69,84,1) 83%);
}

.form-label {
  background: linear-gradient(to right, rgba(120, 238, 240, 0.5), rgba(255, 255, 255, 1));
  color: rgb(1, 13, 17);
  padding: 10px;
  border-radius: 5px;
  
}
